<h4> <em><%= @user.name %> </em> </h4>
<hr>
<%= link_to 'Edit', edit_user_path , class:"btn btn-primary" %>
<%= link_to 'Back', root_path , class:"btn btn-primary" %>
<hr>
<p><strong>Email:</strong>  <%= @user.email %><br>
<strong> Coins:</strong><%= @user.coins %></p>
<strong> Is admin:</strong><%= @user.is_admin %></p>

<br/>
