<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">TRAD3R</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= avatars_path %>">Avatars</a>
      </li>
      <% if ( !@current_user.present? ) %>
        <li class="nav-item"><a class="nav-link" href="<%=  login_path %>">Sign In </a></li>
        <li class="nav-item"><a class="nav-link" href="<%= new_user_path %>">Sign Up </a></li>
      <% else %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= @current_user.name %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if @current_user.is_admin.present? %>
          <a class="dropdown-item" href="<%= new_avatar_path %>">Add Avatar</a>
          <a class="dropdown-item" href="<%= new_phrase_path %>">Add Phrase</a>
           <% end %>
          <a class="dropdown-item" href="<%= user_path @current_user.id %>">Your Avatars</a>
          <a class="dropdown-item" href="<%= user_path @current_user.id %>">Your Phrases</a>
          <a class="dropdown-item" href="<%= logout_path %>">Log out</a>
        </div>
      </li>
      <li><a href="<%= @current_user_path  %>"><p class="price"><img src="/assets/coin-spin.gif"><span><%= @current_user.coins %></span></p></a></li>
      <% end %>
    </ul>

      <%= form_tag "/avatars/search",class:"form-inline my-2 my-lg-0", method: :get do %>
      <%= text_field_tag :query, nil, class:"form-control mr-sm-2", placeholder: "search for avatars" %>
      <%= button_tag :Search, class:"btn btn-outline-success my-2 my-sm-0" %>
      <% end %>

  </div>
</nav>
