<br>
<h1>AVATARS</h1>
<br>
<div class="row">
      <% @avatars.each do |avatar| %>
      <div class="col-md-4 col-6">
        <div class="card">
        <img class="card-img-top" src="/assets/<%= avatar.src %>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= link_to avatar.name, avatar_path(avatar.id) %></h5>
          <h4>ID: <%= avatar.id %></h4>
          <p class="card-text"><%= avatar.description %></p>
          <% if avatar.is_sale %>
          <p class="coin"><img src="/assets/coin-spin.gif"><span><%= avatar.value %></span></p>
          <% end %>
        </div>

          <% if avatar.is_sale == true %>
          <a href="<%= avatar_path(avatar.id) %>" class="btn btn-primary">VIEW</a>
          <% else %>
        <button class="btn btn-danger">NOT FOR SALE</button>
          <% end %>

        </div>
      </div>
        <% end %>




</div>
