<br>
<div class="row">
    <div class="col-6">

      <H1><a href="<%= @avatar.src %>"><%= @avatar.name %></a></H1>
      <p><strong>ID:</strong> <%= @avatar.id %></p>
      <p><strong>Price:</strong> <%= @avatar.value %></p>
      <p><strong>Description:</strong>  <%= @avatar.description %></p>
      <% if @current_user.present? %>
      <% if @avatar.is_owner?( @current_user ) %>
      <p><%= link_to 'Edit', edit_avatar_path(@avatar.id), class:"btn btn-primary"  %>
        <%= link_to 'Delete', avatar_path, method: :delete, class:"btn btn-primary" %></p>
            <% elsif !@avatar.is_sale? %>
              <p><strong>Sorry, this item is not for sale</strong></p>
            <% elsif @current_user.can_buy?( @avatar ) %>
              <!-- <button type="submit" id="submit" class="btn btn-primary", order_avatar_path>Buy Now</button> -->
            <%= button_to 'BUY NOW', transaction_avatar_path, class: "btn btn-primary btn-raised" %>
            <% end %>
      <% else %>
           <p>To Purchase, Please <%= link_to "Sign-In", login_path %> or <%= link_to "Sign-Up",  new_user_path %></p>
      <% end %>

      <div id="trans-message" style="display:none;"></div>
    </div>
    <!-- column 2 -->
    <div class="col-6 ">
     <div id="3d-view"></div>
     <!-- qrcod -->
     <%= raw @qr.as_html %>
    </div>


</div>




<script>

var transLink = '<%= transaction_avatar_path %>';

// var materialFile = <%= @avatar_model_data.to_json %>;
var materialFile = '<%= @avatar.mat_src %>';
var objectFile = '<%= @avatar.obj_src %>';

</script>


<script src="/assets/three/three.js"></script>
<script src='/assets/three/OrbitControls.js'></script>
<script src="/assets/three/MTLLoader.js"></script>
<script src="/assets/three/OBJLoader.js"></script>
<script src="/assets/three/Detector.js"></script>
<script src="/assets/three/main.js"></script>
