<hr>
<%= link_to 'Back', "/avatars", class:"btn btn-primary" %>
<hr>
<p><a href="<%= @avatar.src %>"><%= @avatar.name %></a></p>
<p><%= @avatar.description %></p>
<p><%= @avatar.value %></p>
<p><%= @avatar.is_sale %></p>
