<br>
<div class="row">
  <div class="col-6">

    <H1><%= @avatar.name %></H1>
    <p><strong>ID:</strong> <%= @avatar.id %></p>
    <p class="price"><img src="/assets/coin-spin.gif"><span><%= @avatar.value %></span></p>
    <p class="desc"><strong>Description:</strong>  <%= @avatar.description %></p>
    <% if @current_user.present? %>
    <% if @avatar.is_owner?( @current_user ) %>
    <p><%= link_to 'Edit', edit_avatar_path(@avatar.id), class:"btn btn-primary"  %>
      <%= link_to 'Delete', avatar_path, method: :delete, class:"btn btn-primary" %></p>
      <% elsif !@avatar.is_sale? %>
      <div class="alert alert-danger" role="alert">
      <strong>Sorry, this item is not for sale</strong>
      </div>
      <% elsif @current_user.can_buy?( @avatar ) %>
      <!-- <button type="submit" id="submit" class="btn btn-primary", order_avatar_path>Buy Now</button> -->
      <button id="buy" data-toggle="modal" class="btn btn-primary btn-raised">BUY NOW</button>
      <%#= button_to 'BUY NOW', "#", data: {toggle: "modal", target: "#successModal"}, id: "buy", class: "btn btn-primary btn-raised", method: 'get'%>
      <% end %>
      <% else %>
      <br>
      <div class="alert alert-primary" role="alert">
      To Purchase, Please <%= link_to "Sign-In", login_path %> or <%= link_to "Sign-Up",  new_user_path %>
      </div>
      <% end %>
      <!-- transaction error message -->
      <div id="trans-message" style="display:none;"></div>
      <!-- modal -->
      <!-- Modal -->
      <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Congratulations!</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="alert alert-primary" role="alert">
              You have successfully purchased this model.
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" id="view-model" class="btn btn-secondary" onClick="window.location.reload()">View Model</buton>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- column 2 -->
    <div class="col-6 ">
      <div id="3d-view"></div>
      <br>
      <!-- qr-button -->
      <div class="ar">
        <button type="button" class="qr_button btn btn-primary btn-raised" data-toggle="modal" data-target=".qr-modal">View in AR!</button>
      </div>
      <!-- qrcode -->
      <div id="qrcode">
        <!-- qr-modal -->
        <div class="modal fade qr-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="row">
                <div class="col-6 ">
                <div class="qr">
                  <%= raw @qr.as_html %>
                </div>
                </div>
                <div class="col-6 ">
                  <img class="hiro" src="/assets/HIRO.jpg" alt="HIRO marker image">
                </div>
                <div class="qr-info">
                  <p>Scan the QR code to view the model in augmented reality on your phone! Alternatively, you can use your <%=link_to "webcam", ar_path %> if you have a <a href="/assets/HIRO.jpg">HIRO</a> marker already.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>


  </div>

  <script>

  var transLink = '<%= transaction_avatar_path %>';

  // var materialFile = <%= @avatar_model_data.to_json %>;
  var materialFile = '<%= @avatar.mat_src %>';
  var objectFile = '<%= @avatar.obj_src %>';
  function removeLastPath(path){
    var the_arr = path.split('/');
    the_arr.pop();
    return ( the_arr.join('/') + '/' );
};
var subfolder = removeLastPath(materialFile);
console.log('check', subfolder);
  //var subfolder = materialFile.replace(/\.[^/.]+$/, "")
  $(document).ready(function(){
    $('.qr-modal').modal('hide');
    // $('#successModal').modal('hide')

  }); //document.ready
</script>


<script src="/assets/three/three.js"></script>
<script src='/assets/three/OrbitControls.js'></script>
<script src="/assets/three/MTLLoader.js"></script>
<script src="/assets/three/OBJLoader.js"></script>
<script src="/assets/three/Detector.js"></script>
<script src="/assets/three/main.js"></script>
