<!DOCTYPE html>
<html>
  <head>
    <title>Trad3r</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= cloudinary_js_config%>

  </head>
  <body>

    <div class="container">
      <%= render 'shared/navbar'%>
      <hr>
      <br>
      <h3>Welcome to Trad3r</h3>
     <hr>
      <%= yield %>

      <br>

    </div>

  <footer>
    <hr>
    &copy; 2018 Project 2 - Group project - Alex Pham - Amir Hafizovic
    <hr>
  </footer>
</body>
</html>
